@charset "UTF-8";
/* common */
*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: black;
}

/* main */
.main_con{
	margin: auto;
	width: 1250px;
}

.main_img{
	width: 1250px;
	height: 350px;
}

.most_cate{
	text-align: center;
	padding: 15px 0;
}

.main_navi > ul{
	list-style: none;
}

.main_navi > ul > li{
	float: left;
	width: 25%;
	height: 60px;
	text-align: center;
	padding-top: 30px;
}

#common_navi > ul > li > a{
	
}

/* menu.jsp */
.menu_navi > ul{
	list-style: none;
}

.menu_navi > ul > li{
	float: left;
	width: 25%;
	height: 60px;
	text-align: center;
	padding-top: 30px;
}

/* loginBtn.jsp */
.logBtn{
	position: fixed;
	background-color: #112D4E;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 80vh;
	margin-left: 80vw;
}

.logBtn:hover{
	background-color: #C9D6DF;
	cursor: pointer;
}

.logBtn > a{
	display: inline-block;
	margin-top: 37px;
	color: white;
}